# This is a generated file. Not intended for manual editing.
version: "3.8"
services:
  blazor:
    build:
      context: "C:\\Users\\domin\\RiderProjects\\VIATAB"
      dockerfile: "Blazor/Dockerfile"
      target: "build"
    command: []
    entrypoint:
    - "dotnet"
    - "/app/bin/Debug/net8.0/Blazor.dll"
    environment:
      ASPNETCORE_STATICWEBASSETS: "/app/bin/Debug/net8.0/Blazor.staticwebassets.runtime.CT.json"
    image: "blazor:dev"
    ports: []
    volumes:
    - "C:\\Users\\domin\\.nuget\\packages:/root/.nuget/packages"
    - "C:\\Users\\domin\\RiderProjects\\VIATAB\\Blazor:/app:rw"
    - "C:\\Users\\domin\\RiderProjects\\VIATAB:/src:rw"
    working_dir: "/app"
  webapi:
    build:
      context: "C:\\Users\\domin\\RiderProjects\\VIATAB"
      dockerfile: "WebApi/Dockerfile"
      target: "build"
    command: []
    entrypoint:
    - "dotnet"
    - "/app/bin/Debug/net8.0/WebApi.dll"
    environment: {}
    image: "webapi:dev"
    ports: []
    volumes:
    - "C:\\Users\\domin\\.nuget\\packages:/root/.nuget/packages"
    - "C:\\Users\\domin\\RiderProjects\\VIATAB\\WebApi:/app:rw"
    - "C:\\Users\\domin\\RiderProjects\\VIATAB:/src:rw"
    working_dir: "/app"
